body {
    margin              : 0 !important;
    padding             : 0 !important;
    cursor              : default;
    -webkit-user-select : none;
}

/*
* {
  font-family: 'Lato', Helvetica, sans-serif;
  color: #333447;
  line-height: 1.5;
}
 */

.aesp-close-button {
    display                 : inline-block !important;
    width                   : 10px !important;
    padding-left            : 8px !important;
    height                  : 16px !important;
    line-height             : 20px !important;
    cursor                  : pointer !important;
}

.aesp-close-button:hover path {
    fill                    : rgba(255, 255, 255, .8 !important;
}

.aesp-notification-button {
    height                  : 19px !important;
    align                   : top !important;
    border-bottom           : 1px solid white !important;
    margin-left             : 10px !important;
    padding                 : 0px !important;
    display                 : inline-block !important;
    color                   : #ff8800 !important;
}

.aesp-notification-button:hover {
    border                  : none !important;
    color                   : #ff0000 !important;
}

.aesp-about-icon {
    display                 : inline-block !important;
    padding-left            : 5px !important;
    fill                    : white !important;
}

.aesp-about-icon:hover {
    fill                    : rgba(255, 255, 255, .8) !important;
}

.aesp-notifications {
    position                : relative !important;
    z-index                 : 1024 !important;
    cursor                  : default !important;
    -webkit-user-select     : none !important;
}

.aesp-notification {
    overflow                : hidden !important;
    height                  : 0 !important;
    transition              : height 0.3s ease-in-out !important;
    position                : relative !important;
}

.aesp-notification.aesp-is-open {
    height                  : 20px !important;
}

.aesp-notification__content {
    background-color        : #000 !important;
    height                  : 20px !important;
    color                   : #ffffff !important;
    /*font-family             : Verdana, sans-serif !important;*/
    font-family             : 'Lato', Helvetica, sans-serif;
    font-size               : 12px !important;
    line-height             : 20px !important;
    padding                 : 0 8px !important;
    white-space             : nowrap !important;
}

.aesp-notification__content p {
    margin                  : 0 !important;
    padding                 : 0 !important;
}

.aesp-notification__info {
    position                : absolute !important;
    height                  : 20px !important;
    left                    : 0 !important;
    width                   : 100% !important;
    transition              : all 0.3s ease-in-out !important;
}

.aesp-notification__info.aesp-general {
    top                     : 100% !important;
}

.aesp-notification__info.aesp-general.aesp-is-active {
    top                     : 0 !important;
}

.aesp-notification__info.aesp-reminds {
    bottom                  : 100% !important;
}

.aesp-notification__info.aesp-reminds.aesp-is-active {
    bottom                  : 0 !important;
}

italic {
    font-style              : italic !important;
}

/*
 * AESP Header.
 */
/*
<div id="aesp-notifications" class="aesp-notifications aesp-is-open">
    <div id="aesp-trial-notification" class="aesp-notification aesp-is-open">
        <div class="aesp-notification__content">
            <span id="aesp-trial-text">Trial Version</span>
            <div class="aesp-notification-button">License…</div>
        </div>
    </div>
</div>
 */
#aesp-notifications,
.aesp-notifications,
.aesp-notification__content {
    background-color : #000 !important;
}

#aesp-notifications * {
    color : #fff !important;
}

.aesp-notification__content .aesp-notification-button {
    cursor : pointer !important;
    color  : #ff8800 !important;
}

.aesp-notification__content .aesp-notification-button:hover {
    color  : #ff0000 !important;
}
