body {
    font-family: source-sans-pro, sans-serif;
    position: relative;
    -webkit-font-smoothing: antialiased;
    padding : 20px;
}

pre {
    font-family: source-code-pro, sans-serif;
    font-size: 12px;
}

button {
    cursor : pointer !important;
    padding : 10px 20px !important;
}