:root {
    --grid-cell-size: 32px;
    --square-button-size: 28px
}

@charset "utf-8";
/* CSS Document */

body {
    background-color: #535353;
    padding: 0;
    overflow: hidden;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

body {
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/** SPINNER **/
#page-loader {
    position: fixed !important;
    width: 80px;
    height: 80px;
    left: 50%;
    top: 40%;
    margin: -40px 0 0 -40px;
}

.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #aaa;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}

@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(24px, 0);
    }
}

/** END SPINNER **/

#app {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0px 10px;
    height: 545px;
}

body header {

    width: 97%;
}

#content-body {
    position: relative;
    width: 100%;
    height: 420px;
    overflow: hidden;
    z-index: 1;
}

#main-content {
    position: relative;
    /*height: 100vh;*/
    /*width : 100vw;*/
    overflow-y: hidden;
    overflow-x: hidden;
}

select#sessions {
    width: 100%;
}

section {
    padding: 5px 0;
}

#main,
section.content {
    padding: 0;
    /*         overflow-y : scroll; */
    position: relative;
    padding-bottom: 50%;
}

body,
#main,
#wrapper {
    /*width    : 100vw !important;*/
    /*height : 100vh !important;*/
    border: 0px solid red;
}

button {
    cursor: pointer !important;
}

section.buttons {
    padding-top: 0;
    background-color: #535353;
}

section.buttons span,
section.buttons button,
#secondary-controls button {
    margin-bottom: 6px;
    /*         width : 180px; */
    cursor: pointer;
}

section.buttons button:last-child {
    margin-right: 0;
}

.hidden {
    display: none;
}

option {
    padding: 2px 10px;
    border-bottom: 1px solid #ccc;
    /* font-size         : 1.1em; */
}

ul#icons {
    width: auto;
    /* 580px; */
    /* 100%; */
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: auto;
    /*         overflow-y            : scroll; */
}

ul#icons li {
    display: inline-block;
    width: var(--grid-cell-size);
    height: var(--grid-cell-size);
    padding: 10px;
    margin: 0 7px 0 0;
    background: #fff;
    cursor: pointer;
    overflow: hidden;
    border: 1px solid #747474;
}

ul#icons li svg,
ul#icons li img,
ul#icons li div {
    cursor: pointer;
}

ul#icons li img,
ul#icons li div {
    position: absolute;
    z-index: 1000 !important;
    margin: 0;
    padding: 0;
    width: var(--grid-cell-size);
    /* 64px; */
    height: var(--grid-cell-size);
    /* 64px; */
    overflow: hidden;
}

ul#icons li.placeholder {
    background-image: url(./img/placeholder.png);
    background-position: center center;
    background-size: var(--grid-cell-size) var(--grid-cell-size);
    background-repeat: no-repeat;
    overflow: hidden;
}

ul#icons li.blank {
    background-color: transparent !important;
}

.material-icons {
    font-size: 16px;
}

/**
 * Search
 */

input#search {
    font-weight: 400;
    font-size: 12px;
    line-height: 10px;
    display: flex;
    align-items: center;
    width: 100%;
    height: 21px;
    margin: 0;
    padding: 3px 5px;
    border-radius: 2px;
    outline: none;
    transition: all .3s;

    padding-left: 21px;

    background-color: #424242;
    border: 1px solid #747474;
    color: #fff;
}

input#search:focus {
    background-color: #fff;
    border: 1px solid #6CB1F2;
    color: #4B4B4B;
    /* box-shadow             : none !important; */
}

input:focus {
    border: 1px solid #6CB1F2;
}

section.search,
section#search-block {
    display: inline-flex;
    flex-direction: row;
    justify-content: right;
    align-items: stretch;
    margin-bottom: 10px;
}

section.search input[type='text'],
section#search-block input[type='text'] {
    width: 98%;
    padding-left: 21px;
}

section#search-block i {
    width: 16px;
    height: 16px;
    position: absolute;
    margin-top: 3px;
    margin-left: 3px;
    transition: all .3s;
    border-radius: 1px !important;
}

#search-block div {
    display: inline-block;
    /*border : 1px solid red;*/
}

#search-field-block {
    width: 98%;
    padding: 0;
}

label {
    color: #fff;
    font-size: .65em;
}

section.search.hide {
    display: none;
}

input.search-scope {
    width: 40px;
    height: 40px;
}

.topcoat-select,
select#sets,
select#iconjars {

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    outline-color: transparent !important;
    outline-offset: 0px !important;
    outline-style: none !important;
    outline-width: 0px !important;

    cursor: pointer;
    text-indent: 1px;
    text-overflow: '';
    padding: .15rem .5rem;
    font-weight: 400;
    letter-spacing: 0;
    vertical-align: top;
    border-radius: 1px !important;
    border: 1px solid #747474;
    background-repeat: no-repeat;

    min-width: 3.4rem;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    color: var(--theme-gray-medium-text-color) !important;

    font-size: .85em;

    position: relative;
    height: 21px;
    width: 100%;
    border-radius: 2px;
    padding: 3px 6px;
    transition: all .3s;

    box-shadow: none;

    font-weight: 400;
    font-size: 12px;
    line-height: 13px;
    padding-right: 10px;
    overflow: hidden;
}

option {
    padding: 2px 10px;
    border-bottom: 1px solid #ccc;
    font-size: 1.1em;
}

option:focus {
    /* outline                    : 0 !important; */
    box-shadow: none !important;
    background-color: #666 !important;
}

.topcoat-select *,
select#sets *,
select#iconjars * {
    outline-color: transparent !important;
    outline-offset: 0px !important;
    outline-style: none !important;
    outline-width: 0px !important;
    margin-top: 0;
}

select#sets,
select#iconjars {
    width: 226px;
}

#iconsets-selector,
#iconjars-selector {
    display: block;
    margin-bottom: 0;
    margin-left: 0px;
}

.placeholder {
    background-image: url(./img/placeholder.png);
    background-position: center center;
    background-size: 64px 64px;
    background-repeat: no-repeat;
    overflow: hidden;
}

#left-sidebar,
#main-content {
    /*position : absolute;*/
    /*display    : inline-block;*/
    border: 0px solid red;
}

#left-sidebar {
    width: 180px;
}

#splash {
    width: 240px;
}

#splash img {
    width: 144px;
}

#splash p {
    text-align: center;
    font-size: .9rem;
}

#splash h2 {
    text-align: center;
    font-size: 1rem;
}

#splash td {
    padding: 0px;
    width: 50%;
}

#splash td button {
    font-size: 12px !important;
    padding: 4px 10px !important;
}

button:not(.pb-button),
button[class^=topcoat-icon-button]:not(.pb-button) {
    position: relative;
    display: inline-block;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    min-height: 21px;
    padding: 0px !important;
    text-decoration: none;
    text-align: center;
    border: 1px solid transparent;
    border-radius: 2px !important;
    outline: none;
    font-weight: 400;
    font-size: 10px;
    line-height: 10px;
    user-select: none;

    background-color: #535353;
    border: 1px solid #747474 !important;
    color: #fff;

    box-shadow: none !important;
    overflow: visible;
    margin-right: 4px;
}

.topcoat-icon-button--large,
.topcoat-icon-button--large--quiet {
    width: 21px !important;
    height: 21px !important;
    line-height: 1.5rem;
    vertical-align: top;
}

button:hover:not(.pb-button),
button[class^=topcoat-icon-button]:hover:not(.pb-button) {
    background-color: #5F5F5F !important;
    color: #535353 !important;
    font-weight: 400 !important;
}

/* DIALOG */
aside[role='dialog'] button:hover,
aside[role='dialog'] button[class^=topcoat-icon-button]:hover {
    background-color: #fff !important;
    /* #5F5F5F !important; */
    color: #535353 !important;
    font-weight: 400 !important;
}

/* DIALOG (END) */

button.disabled {
    background-color: #535353 !important;
    border: 1px solid #747474 !important;
    color: #fff !important;
}

button#import-iconjar:disabled:hover,
button#export-iconjar:disabled:hover {
    background-color: #535353 !important;
}

button#import-iconjar:disabled,
button#export-iconjar:disabled {
    text-shadow: none !important;
    color: #666 !important;
    border: 1px solid #666 !important;
    background-color: #535353 !important;
}

#primary-buttons span,
#iconjars-actions span,
#iconsets-actions span {
    display: inline-block;
    text-rendering: optimizeLegibility;
}

#primary-buttons span {
    width: 32% !important;
    margin-right: 4px;
}

#iconjars-actions,
#iconsets-actions {
    display: inline-block;
}

#iconjars-selector,
#iconsets-selector {
    display: inline-block;
}

#primary-buttons span button {
    width: 100% !important;
    font-weight: 400;
    font-size: 12px;
    line-height: 13px;
    margin-right: 4px;
}

#iconjars-actions span:last-child button,
#iconsets-actions span:last-child button,
#primary-buttons span:last-child button {
    margin-right: 0px;
}

/* #pagination-bar { display: none !important } */

#pagination-bar {
    height: 32px !important;
    margin: 0 24px 0 0 !important;
    width: 98%;
}

#pagination-bar button {
    cursor: pointer;
}

#pagination-bar .topcoat-button-bar {
    cursor: pointer;
}

#pagination-bar .info {
    color: #ccc;
    font-size: .8em;
    float: left;
    display: block;
    position: absolute;
    display: none;
}

footer,
footer .info {
    font-size: .85em;
    display: block;
}

.iconsgrid-placeholder {
    border-radius: 16px;
    height: 500px;
    width: 95%;
    background: transparent;
}

.iconsgrid-placeholder .inner {
    padding: 30px;
}

.iconsgrid-placeholder .inner * {
    color: #ccc;
}

.iconsgrid-placeholder .inner h2 {
    text-align: center;
}

.iconsgrid-placeholder .inner p {
    text-align: left;
}

/**
 * ====================================================================
 * THEME-SPECIFIC STYLES
 * ====================================================================
 */
body.theme-gray-medium section#search-block i {
    color: #bbb !important;
}

body.theme-gray-dark section#search-block i {
    color: #888 !important;
}

body.theme-white section#search-block i,
body.theme-gray-lite section#search-block i {
    color: #555 !important;
}

body.theme-white #pagination-bar .info,
body.theme-gray-lite #pagination-bar .info {
    color: #333;
}

body.theme-white ul#icons li {
    border: 1px solid #aaa;
}

body.theme-gray-lite ul#icons li {
    border: 1px solid #747474;
}

body.theme-gray-medium ul#icons li {
    border: 1px solid #424242
}

body.theme-gray-dark ul#icons li {
    border: 1px solid #000;
}

.container {
    /*background-color: #aaa;*/
    width: 97%;
    padding: 0px;
    margin: 0px;
}

.column {
    /*background-color: #bbb;*/
    padding: 0px;
    margin: 0px;
}

.row {
    /*background-color: #ccc;*/
    padding: 0 0 2px 0;
    margin: 0px;
}

.row [class^=col] {
    /*float: left;*/
    margin: 0 0 0 0;
    min-height: .125rem;
}

.row .col-3-sm {
    width: 24%;
}

#aesp-notifications,
.aesp-notifications,
.aesp-notification__content {
    background-color: #000 !important;
}

#aesp-notifications * {
    color: #fff !important;
}

.aesp-notification__content .aesp-notification-button {
    cursor: pointer !important;
    color: #ff8800 !important;
}

.aesp-notification__content .aesp-notification-button:hover {
    color: #ff0000 !important;
}


/**
 * ====================================================================
 * DIALOG ANIMATION
 * ====================================================================
 */

[role='dialog'] {
    animation: fadeIn ease .7s;
    -webkit-animation: fadeIn ease .7s;
    -moz-animation: fadeIn ease .7s;
    -o-animation: fadeIn ease .7s;
    -ms-animation: fadeIn ease .7s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.fade-out {
    animation: fadeOut ease 8s;
    -webkit-animation: fadeOut ease 8s;
    -moz-animation: fadeOut ease 8s;
    -o-animation: fadeOut ease 8s;
    -ms-animation: fadeOut ease 8s;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@-moz-keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@-webkit-keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@-o-keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@-ms-keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

/**
 * ====================================================================
 * FORM STYLES
 * ====================================================================
 */

[role='dialog'] {
    position: fixed;
    top: 0;
    left: 0;
    width: 324px;
    height: 600px;
    background-color: #535353;
    opacity: 1;
    z-index: 10002;
    opacity: 1;
}

#form-edit-icon,
[role='dialog'] .form-horizontal {
    width: 304px;
    height: 404px;
    margin: 0 auto;
    margin-top: 30px;
}

fieldset {
    border: 1px solid #444;
}

legend,
label,
button {
    font-size: .8rem !important;
    font-weight: normal !important;
    color: #aaa !important;
}

.form-group {
    margin-bottom: 4px;
}

.form-group label {
    display: inline-block;
    width: 33%;
    color: #aaa;
    font-size: .75rem;
}

.form-group .col-md-5 {
    display: inline-block;
    width: 65%;
}

x .form-group [name='width'],
.form-group [name='height'] {
    width: 40px !important;
}

.form-group .col-md-5 input,
.form-group .col-md-5 select,
.form-group .col-md-5 select option,
.form-group .col-md-5 textarea {
    width: 100%;
    padding: 0;
    margin: 0;
    padding: 2px !important;
}

.form-group [name="license"] {
    /*        width : 110px !important;*/
}

.form-group .license-link {
    font-size: .7rem;
    color: cornflowerblue
}

.form-group [name="license"]+button {
    font-size: .7rem !important;
    float: right;
}

.form-group.button-row button {
    /* padding : 4px 16px; */
    box-shadow: none !important;
}

.form-group.button-row {
    margin-bottom: 6px;
    margin-top: 10px;
    padding: 2px;
}

.form-group.button-row [name="save"] {
    float: right;
}

.form-group button:not(.pb-button),
.form-group button[class^=topcoat-icon-button]:not(.pb-button) {
    padding: 0 24px !important;
    box-shadow: none !important;
    overflow: visible;

    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1.688rem;
    margin-top: 4px !important;

    border-radius: 24px !important;
    border: 1px solid #fff !important;
    text-shadow: none !important;
}

.form-group button:hover:not(.pb-button),
.form-group button[class^=topcoat-icon-button]:hover:not(.pb-button) {

    border: 1px solid #fff !important;
    background-color: #fff !important;
    color: #222 !important;
    text-shadow: none !important;
}

.topcoat-select,
.topcoat-textarea,
.topcoat-text-input,
.topcoat-text-input--large {
    border-radius: 0 !important;
}

#form-edit-icon [name='width'] {
    margin-right: 4px;
}

.form-group a.license-link {
    text-transform: uppercase;
    font-size: .8rem;
    color: #3999f3
}

label,
legend,
.control-label {
    font-weight: 600 !important;
}

input,
select,
option,
textarea {
    font-size: .8rem !important;
}

.control-label {
    font-size: .7rem !important;
}

body.theme-gray-medium button,
body.theme-gray-medium .topcoat-button--cta,
body.theme-gray-medium .topcoat-button--quiet,
body.theme-gray-medium .topcoat-button--large,
body.theme-gray-medium .topcoat-button--large--cta,
body.theme-gray-medium .topcoat-button--large--quiet,
body.theme-gray-medium .topcoat-icon-button,
body.theme-gray-medium .topcoat-icon-button--large,
body.theme-gray-medium .topcoat-icon-button--large--quiet,
body.theme-gray-medium .topcoat-icon-button--quiet {
    text-shadow: none !important;
}

/* .form-group input,
.form-group textarea {
        border: 1px solid var(--theme-gray-medium-border);
}
*/

.form-group input:focus,
.form-group textarea:focus {
    background-color: #fff;
    border: 1px solid #6CB1F2;
    color: #4B4B4B;

    /* background-color : #595b5b !important;
    color : #fff !important;
    border : 1px solid #0036ff !important; */
    box-shadow : 0 0 0 2px #6fb5f1 !important;
    -webkit-transition : background-color 300ms linear !important;
    -ms-transition : background-color 300ms linear !important;
    transition : background-color 300ms linear !important;
    outline-offset : 0px;
}

input[disabled],
textarea[disabled] {
    border: none !important;
    background-color: transparent !important;
    box-shadow: none !important;
    outline: none !important;
    color: #fff !important;
    opacity: .7;
}

/** PROGRESS BUTTON **/

.pb-container {
    display: inline-block;
    text-align: center;
    width: 80px !important;
    height: 27px;
    padding: 0 !important;
    border : none !important;
    margin-top : 4px;
}

.pb-container .pb-button {
    float : none !important;
    background: transparent;
    border: 1px solid #fff !important;
    border-radius: 24px;
    color: #fff !important;
    cursor: pointer;
    padding: 0 !important;
    text-decoration: none;
    text-align: center;
    height : 29px !important;
    width: 80px !important;
    -webkit-tap-highlight-color: transparent;
    outline: none;
    transition: background-color 0.3s, width 0.3s, border-width 0.3s, border-color 0.3s, border-radius 0.3s;
}

.pb-container.loading .pb-button {
    border: none !important;
    height: 31px!important;
}

.pb-container.loading .pb-button:hover {
    border: none !important;
    height: 31px!important;
}

.pb-container .pb-button span {
    float : none !important;
    display: inherit;
    transition: opacity 0.3s 0.1s;
    font-size: 1em !important;
    font-weight: 100;
    color: #fff !important;
}

.pb-button:hover,
.pb-container:hover .pb-button span,
.pb-container .pb-button:hover span,
.pb-container .pb-button span:hover {
    color: #222 !important;
}

.pb-container .pb-button.delete {
    text-transform : uppercase !important;
}

.pb-container.error:hover .pb-button,
.pb-container.error .pb-button:hover,
.pb-container.success:hover .pb-button,
.pb-container.success .pb-button:hover,
.pb-container.loading:hover .pb-button,
.pb-container.loading .pb-button:hover {
    border : none !important;
    height : 31px !important;
}

.pb-container.error .pb-button:hover,
.pb-container.success .pb-button:hover,
.pb-container.loading .pb-button:hover,
body.theme-gray-medium aside[role='dialog'] .pb-container.loading button:hover, 
body.theme-gray-medium aside[role='dialog'] .pb-container.loading [class*=topcoat-button--]:hover {
    background-color : transparent !important;
}

.pb-container.success .pb-button,
.pb-container:hover.success .pb-button {
    background-color : rgb(0, 128, 0) !important;
    border : none !important;
    height : 31px !important;
}

.pb-container.error .pb-button,
.pb-container:hover.error .pb-button {
    background-color : rgb(188, 0 ,0) !important;
    border : none !important;
    height : 31px !important;
}

.default-buttons .save-button {
    float : right !important;
}

.pb-container .pb-button svg {
    height: 24px !important;
    width: 24px  !important;
    position: absolute;
    transform: translate(-50%, -50%);
    pointer-events: none;
  }

#form-state.error,
#form-state.success {
    text-align : center !important;
    font-size  : .8rem !important;
    padding    : 10px !important;
    border-radius : 8px !important;
    background-color : #fff !important;
    color: #222 !important;
}

#form-state.error {
    border : 1px solid  rgb(188, 0 ,0) !important;
}

#form-state.success {
    border : 1px solid  rgb(0, 128, 0) !important;
}

button#iconjar-folder-button {
    border-radius: 0 !important;
    margin-top: 0 !important;
    min-height: 15px !important;
    border: 1px solid #444 !important;
    padding: 0 20px !important;
    height: 27px;
    line-height: 1em;
}

button#iconjar-folder-button:hover {
    background-color : #444 !important;
}

input#iconjar-folder {
    width: 100%;
}